USE [eldorado]
GO
/****** Object:  Table [dbo].[Assistant]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assistant](
	[Id] [uniqueidentifier] NOT NULL,
	[Shop] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[Contacts] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Assistant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bonus]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bonus](
	[Id] [uniqueidentifier] NOT NULL,
	[BonusAmount] [decimal](18, 0) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bonus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BonusSystem]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BonusSystem](
	[Id] [uniqueidentifier] NOT NULL,
	[BonusId] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BonusSystem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[AssistantId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartToItem]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartToItem](
	[Id] [uniqueidentifier] NOT NULL,
	[ItemId] [uniqueidentifier] NOT NULL,
	[CartId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Listing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[AssistantCreatorId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerVerification]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerVerification](
	[Id] [uniqueidentifier] NOT NULL,
	[PinCode] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[IsVerified] [bit] NOT NULL,
 CONSTRAINT [PK_CustomerVerification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluationSystem]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluationSystem](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[AssistantId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Points] [int] NOT NULL,
 CONSTRAINT [PK_EvaluationSystem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[Name] [nvarchar](50) NOT NULL,
	[Points] [int] NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Grades_1] PRIMARY KEY CLUSTERED 
(
	[Points] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HolderType]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HolderType](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HolderType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Desciption] [nvarchar](1000) NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[IsSold] [bit] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23.06.2021 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Address] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[HolderTypeId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[VerifiedDate] [datetime] NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Assistant] ([Id], [Shop], [Position], [Contacts]) VALUES (N'838d88a1-d39e-485a-8c72-47144c949059', N'Moscow city, Lineyana str., 200A. Eldorado Central.', N'Head assistant', N'+123123123')
INSERT [dbo].[Bonus] ([Id], [BonusAmount], [CreatedDate], [Name], [Description]) VALUES (N'0f929b3d-6333-4463-96a5-0c9a7478bff9', CAST(100 AS Decimal(18, 0)), CAST(N'2021-06-19T16:51:07.543' AS DateTime), N'Welcome!', N'You are our new user!')
INSERT [dbo].[BonusSystem] ([Id], [BonusId], [CustomerId], [CreatedDate]) VALUES (N'3a05fdae-7fc3-4379-862b-8132cfcb2cb8', N'0f929b3d-6333-4463-96a5-0c9a7478bff9', N'd55e4639-1ef1-44f2-9c3f-c340cb347eb3', CAST(N'2021-06-19T17:16:53.393' AS DateTime))
INSERT [dbo].[Cart] ([Id], [CustomerId], [CreatedDate], [AssistantId]) VALUES (N'3c6c495f-b936-480c-9407-4cefe576171f', N'd55e4639-1ef1-44f2-9c3f-c340cb347eb3', CAST(N'2021-06-23T14:12:17.830' AS DateTime), N'838d88a1-d39e-485a-8c72-47144c949059')
INSERT [dbo].[Cart] ([Id], [CustomerId], [CreatedDate], [AssistantId]) VALUES (N'de567a60-5734-434a-8c7a-5edaa372a2c0', N'd55e4639-1ef1-44f2-9c3f-c340cb347eb3', CAST(N'2021-06-23T16:47:32.123' AS DateTime), N'838d88a1-d39e-485a-8c72-47144c949059')
INSERT [dbo].[Cart] ([Id], [CustomerId], [CreatedDate], [AssistantId]) VALUES (N'57c005c1-11c3-4d28-b491-71f59f95d0ec', N'd55e4639-1ef1-44f2-9c3f-c340cb347eb3', CAST(N'2021-06-23T14:12:07.387' AS DateTime), N'838d88a1-d39e-485a-8c72-47144c949059')
INSERT [dbo].[CartToItem] ([Id], [ItemId], [CartId], [CreatedDate]) VALUES (N'b848b2e8-782b-4f17-a712-3ec8b9750f9e', N'13bae91b-b22b-45f7-972c-467fae696236', N'36f2c2c1-d508-409a-90fe-7ba5e9e1af82', CAST(N'2021-06-23T16:48:27.077' AS DateTime))
INSERT [dbo].[CartToItem] ([Id], [ItemId], [CartId], [CreatedDate]) VALUES (N'cbe76214-81a7-40fc-bcc2-fff0882e2100', N'13bae91b-b22b-45f7-972c-467fae696236', N'de567a60-5734-434a-8c7a-5edaa372a2c0', CAST(N'2021-06-23T16:47:32.183' AS DateTime))
INSERT [dbo].[Category] ([Id], [Name], [Description]) VALUES (N'd727d3f5-aa64-4f34-b0c0-83643bdf2e26', N'computers & notebooks', NULL)
INSERT [dbo].[Category] ([Id], [Name], [Description]) VALUES (N'673fb4e4-fff0-4dfa-b049-b548824acf5f', N'tv, video, audio', NULL)
INSERT [dbo].[Customer] ([Id], [Amount], [AssistantCreatorId]) VALUES (N'd55e4639-1ef1-44f2-9c3f-c340cb347eb3', CAST(100 AS Decimal(18, 0)), NULL)
INSERT [dbo].[EvaluationSystem] ([Id], [CustomerId], [AssistantId], [Description], [CreatedDate], [Points]) VALUES (N'0f234342-5504-4127-aeff-7897c37060ea', N'd55e4639-1ef1-44f2-9c3f-c340cb347eb3', N'838d88a1-d39e-485a-8c72-47144c949059', N'спасибо', CAST(N'2021-06-23T16:53:30.980' AS DateTime), 5)
INSERT [dbo].[Grades] ([Name], [Points], [Description]) VALUES (N'no points', 0, N'customer dosn''t know this assistant')
INSERT [dbo].[Grades] ([Name], [Points], [Description]) VALUES (N'no idea', 1, N'customer doesn''t care')
INSERT [dbo].[Grades] ([Name], [Points], [Description]) VALUES (N'so so', 2, N'at least smiles')
INSERT [dbo].[HolderType] ([Id], [Name]) VALUES (1, N'Customer')
INSERT [dbo].[HolderType] ([Id], [Name]) VALUES (2, N'Assistant')
INSERT [dbo].[User] ([Id], [Name], [Surname], [Age], [Address], [Phone], [Email], [HolderTypeId], [CreatedDate], [VerifiedDate], [Password], [Login]) VALUES (N'838d88a1-d39e-485a-8c72-47144c949059', N'Sergei', N'Smirnov', 30, N'Moscow city, Kievskaya str., 25A', N'+7000000000', N'serjsmirnov@gmail.com', 2, CAST(N'2021-06-19T16:36:25.327' AS DateTime), NULL, N'123123', N'sergei')
INSERT [dbo].[User] ([Id], [Name], [Surname], [Age], [Address], [Phone], [Email], [HolderTypeId], [CreatedDate], [VerifiedDate], [Password], [Login]) VALUES (N'd55e4639-1ef1-44f2-9c3f-c340cb347eb3', N'Katya', N'Lavrova', 25, N'Moscow city, Lineynaya str., 159B', N'+7000000001', N'kattylav@gmail.com', 1, CAST(N'2021-06-19T16:38:31.337' AS DateTime), NULL, N'123123', N'katya')
ALTER TABLE [dbo].[Bonus] ADD  CONSTRAINT [DF_Bonus_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Bonus] ADD  CONSTRAINT [DF_Bonus_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BonusSystem] ADD  CONSTRAINT [DF_BonusSystem_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[BonusSystem] ADD  CONSTRAINT [DF_BonusSystem_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF_Cart_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF_Cart_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[CartToItem] ADD  CONSTRAINT [DF_Listing_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[CartToItem] ADD  CONSTRAINT [DF_CartToItem_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF_Category_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[CustomerVerification] ADD  CONSTRAINT [DF_CustomerVerification_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[CustomerVerification] ADD  CONSTRAINT [DF_CustomerVerification_IsVerified]  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[EvaluationSystem] ADD  CONSTRAINT [DF_EvaluationSystem_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[EvaluationSystem] ADD  CONSTRAINT [DF_EvaluationSystem_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF_Item_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF_Item_IsSold]  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Assistant]  WITH CHECK ADD  CONSTRAINT [FK_Assistant_User] FOREIGN KEY([Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Assistant] CHECK CONSTRAINT [FK_Assistant_User]
GO
ALTER TABLE [dbo].[BonusSystem]  WITH CHECK ADD  CONSTRAINT [FK_BonusSystem_Bonus] FOREIGN KEY([BonusId])
REFERENCES [dbo].[Bonus] ([Id])
GO
ALTER TABLE [dbo].[BonusSystem] CHECK CONSTRAINT [FK_BonusSystem_Bonus]
GO
ALTER TABLE [dbo].[BonusSystem]  WITH CHECK ADD  CONSTRAINT [FK_BonusSystem_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[BonusSystem] CHECK CONSTRAINT [FK_BonusSystem_Customer]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Customer]
GO
ALTER TABLE [dbo].[CartToItem]  WITH CHECK ADD  CONSTRAINT [FK_CartToItem_Cart] FOREIGN KEY([CartId])
REFERENCES [dbo].[Cart] ([Id])
GO
ALTER TABLE [dbo].[CartToItem] CHECK CONSTRAINT [FK_CartToItem_Cart]
GO
ALTER TABLE [dbo].[CartToItem]  WITH CHECK ADD  CONSTRAINT [FK_CartToItem_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[CartToItem] CHECK CONSTRAINT [FK_CartToItem_Item]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_User] FOREIGN KEY([Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_User]
GO
ALTER TABLE [dbo].[CustomerVerification]  WITH CHECK ADD  CONSTRAINT [FK_CustomerVerification_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[CustomerVerification] CHECK CONSTRAINT [FK_CustomerVerification_Customer]
GO
ALTER TABLE [dbo].[EvaluationSystem]  WITH CHECK ADD  CONSTRAINT [FK_EvaluationSystem_Assistant] FOREIGN KEY([AssistantId])
REFERENCES [dbo].[Assistant] ([Id])
GO
ALTER TABLE [dbo].[EvaluationSystem] CHECK CONSTRAINT [FK_EvaluationSystem_Assistant]
GO
ALTER TABLE [dbo].[EvaluationSystem]  WITH CHECK ADD  CONSTRAINT [FK_EvaluationSystem_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[EvaluationSystem] CHECK CONSTRAINT [FK_EvaluationSystem_Customer]
GO
ALTER TABLE [dbo].[EvaluationSystem]  WITH CHECK ADD  CONSTRAINT [FK_EvaluationSystem_Grades] FOREIGN KEY([Points])
REFERENCES [dbo].[Grades] ([Points])
GO
ALTER TABLE [dbo].[EvaluationSystem] CHECK CONSTRAINT [FK_EvaluationSystem_Grades]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Category]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_HolderType] FOREIGN KEY([HolderTypeId])
REFERENCES [dbo].[HolderType] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_HolderType]
GO
